body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-color: #2E2C2C;
  background-size: cover;
}

#sprite-half {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 150px
}

#pokemon-sprite {
  height: 250px;
  width: 250px;
  object-fit: fill;
}

#pokemon-name {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 1px rgb(168, 168, 168);
}

#pokemon-show-id {
  text-align: right;
  color: white;
  font-size: 42px;
  text-shadow: 1px 1px 1px rgb(168, 168, 168);
  padding-right: 15px;
}

#pokemon-types {
  width: 40%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.type {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 3px;
  border: medium solid rgb(44, 44, 44);
  border-radius: 9px;
}
#info-half {
  width: 400px;
  margin: auto;
  color: white;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
}

#pokemon-description {
  font-size: 18px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.pokemon-stats {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.half-side {
  width: 100px;
}

.swords {
  height: 16px;
  width: 16px;
  padding-left: 4px;
  filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(289deg) brightness(102%) contrast(101%);
}
.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fas {
  padding-left: 4px;
}

.special-stats {
  display: flex;
}

.stat {
  margin-left: 4px;
}

@media (max-width: 400px) {
  #sprite-half {
    height: 150px;
  }
  #info-half {
    width: 100vw;
  }
  #pokemon-sprite {
    height: 250px;
    width: 250px;
  }
  #pokemon-name {
    margin-top: 15px;
    margin-bottom: 8px;
  }
}