body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FwMbJs4L.jpg&f=1&nofb=1");
  background-size: cover;
}

#sprite-half {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 150px
}

#pokemon-sprite {
  height: 250px;
  width: 250px;
  object-fit: fill;
}

#pokemon-name {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bolder;
}

#pokemon-id {
  text-align: right;
  font-size: 42px;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
}

#pokemon-types {
  width: 40%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.type {
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 3px;
  border: medium solid rgb(44, 44, 44);
  border-radius: 9px;
}
#info-half {
  width: 400px;
  margin: auto;
}

#pokemon-description {
  font-size: 18px;
  text-align: justify;
}

.pokemon-stats {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.swords {
  height: 16px;
  width: 16px;
}
.stat-container {
  display: flex;
  align-items: center;
}

.special-stats {
  display: flex;
}
.stat {
  margin-left: 4px;
}

@media (max-width: 400px) {
  #sprite-half {
    height: 150px
  }
  #info-half {
    width: 100vw;
  }
  #pokemon-sprite {
    height: 250px;
    width: 250px;
  }
  #pokemon-name {
    margin-top: 15px;
    margin-bottom: 8px;
  }
  #pokemon-id {
    font-size: 36px;
  }
}