.content {
  width: 100%;
  background-color: rgb(46, 44, 44);
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
