.navbar-disco-pokedex {
  justify-content: space-between;
  background: rgb(230, 68, 68);
}

.navbar-disco-pokedex .navbar-collapse {
  flex-grow: 0;
}

.navbar-disco-pokedex .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar-nav > .nav-item {
  border-bottom: 1px solid rgb(17, 17, 17);
}