<div class="content">
  <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon_path(pokemon), class: "card" do %>
      <%= image_tag "#{pokemon.sprite_url}" %>
      <div class="name"><%= pokemon.name.capitalize %></div>
    <% end %>
  <% end %>
</div>
